.modal-header
  %button.btn.btn-danger.col-xs-2.pull-right{ 'ng-click' => '$dismiss()'}
    %span.fa.fa-times
  %h2 Корзина
  %br/

.modal-body
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        %h3{'ng-if' => 'positions.length'} Позиции
        %h3{'ng-if' => 'positions.length == 0'} Ваша корзина пуста
    .row
      .col-xs-10.col-xs-offset-1{'ng-if' => 'positions.length'}
        %table.table.table-striped
          %tr
            %th Наименование
            %th СН
            %th Цена
            %th Количество
            %th
              %button.btn.btn-sm.btn-danger{type: :button, title: 'Удалить', 'ng-click' => 'remove(pos)'}
                %span.fa.fa-times
                Очистить
          %tr{'ng-repeat' => 'pos in positions', 'ng-model' => 'pos' }
            %td {{ pos.name }}
            %td {{ pos.serial }}
            %td
              %span.fa.fa-rub
              {{ pos.price | currency : ''}}
            %td
              .col-xs-5
                {{ pos.count }}
              %span.text-primary
                %span.fa.fa-plus-square{'ng-click' => 'put(pos)'}
                %span.fa.fa-minus-square{'ng-click' => 'unput(pos)', 'ng-class' => '{"text-muted": pos.count < 1}'}
            %td
              %button.btn.btn-sm.btn-danger.pull-right{type: :button, title: 'Удалить', 'ng-click' => 'remove(pos)'}
                %span.fa.fa-times
        %span.pull-right
          %strong Итого:
          %span.fa.fa-rub
          {{ summarize() | currency : '' }}

.modal-footer{ 'ng-if' => 'positions.length'}
  %button.btn.btn-primary{'ng-click' => 'proceed()'}
    %span.fa.fa-check
    Заказать
