%nav.footer
  %center
    %h6 Быстрые ссылки
  %ul.nav.nav-justified
    %li
      %a{ href: '/catalog', title: 'Каталог'} Каталог
    %li
      %a{ href: '/about/info', title: 'Инфо'} Инфо
    %li
      %a{ href: '/about/contacts', title: 'Контакты'} Контакты
    %li
      %a{ href: '/contact', title: 'Обратная связь'} Обратная связь
  %hr
  %ul.nav.nav-justified.small
    %li
      %a{ href: '/about/policy' , title: 'Политика конфиденциальности'} Конфиденциальность
    %li
      %a{ href: '/about/offer' , title: 'Публичная оферта'} Публичная оферта
    %li
      %a{ href: 'http://caffeinedrivendevel.su', title: 'Caffeine Driven Devel'} Сайт: CDD
