.col-xs-6
  %a.brand{ title: 'Автозапчасти Mercedes-Benz', href: '/'}
    Автозапчасти Mercedes-Benz
.col-xs-5
  %nav.navbar-nav.pull-right
    %ul.nav.navbar-nav
      %li
        %a{ href: '/catalog', title: 'Каталог' , 'data-no-turbolink' => true} Каталог
      %li
        %a{ href: '/about/info', title: 'Инфо'} Инфо
      %li
        %a{ href: '/about/contacts', title: 'Контакты'} Контакты
      - unless admin?
        %li{'ng-controller' => 'CartCtrl'}
          %a#cart{ href: '', title: 'Корзина', 'ng-click' => 'open()'}
            Корзина
            %span.badge{'ng-show' => 'positions.length'} {{positions.length}}
      - if admin?
        .btn-group{'ng-app' => 'catalog', 'dropdown' => true}
          %button.btn.btn-primary.navbar-btn{'type' => 'button', 'dropdown-toggle' => true}
            Администратору
            %span.caret
          %ul.dropdown-menu{role: :menu}
            %li{role: :menuitem}
              %a{href: orders_path} Заказы
            %li{role: :menuitem}
              %a{href: new_item_path(format: :html)} Создать товар
            %li.divider
            %li{role: :menuitem}
              %a{href: destroy_admin_session_path, 'data-method' => :delete} Выйти
