.col-xs-4
  %a.brand{ title: 'Автозапчасти Mercedes', href: '/'}
    Автозапчасти Mercedes
.col-xs-5
  %nav.navbar-nav.pull-right
    %ul.nav.navbar-nav
      %li
        %a{ href: '/catalog', title: 'Каталог' , 'data-no-turbolink' => true} Каталог
      %li
        %a{ href: '/about/info', title: 'Инфо'} Инфо
      %li
        %a{ href: '/about/contacts', title: 'Контакты'} Контакты
<<<<<<< HEAD
      - unless admin?
        %li{'ng-controller' => 'CartCtrl', 'ng-app' => 'catalog'}
          %a#cart{ href: '', title: 'Корзина', 'ng-click' => 'open()'}
            Корзина
            %span.badge{'ng-show' => 'positions.length'} {{positions.length}}
=======
      %li
        %a#cart{ href: '', title: 'Корзина', 'ng-controller' => 'CartCtrl', 'ng-click' => 'open()'} Корзина
      - if admin?
        %li
          %a{href: destroy_admin_session_path, 'data-method' => :delete} Выйти
>>>>>>> admin: authentication
