.col-xs-10.col-sm-7.col-md-6.col-lg-5
  %a.brand{ title: 'mercedes177 | Оригинальные запчасти из Европы', href: '/'}
    .row
      .col-xs-3
        = image_tag 'logo.svg', class: 'logo'
      .col-xs-9
        %span.brandline Mercedes 177
        %br/
        %small.tagline Оригинальные запчасти из Европы
.col-sm-2.hidden-xs
  %a.tel.text-nowrap{href:'tel:+79647064621'}
    %span.fa.fa-fw.fa-sm.fa-phone
    %span.small 8 964 706 46 21
  %br/
  %a.tel.text-nowrap{href:'tel:+79651340430'}
    %span.fa.fa-fw.fa-sm.fa-phone
    %span.small 8 965 134 04 30
.col-xs-12.visible-xs-inline-block.text-center
  %br/
  %br/
  %a.tel.text-nowrap.btn.btn-lg.btn-primary{href:'tel:+79647064621'}
    %span.fa.fa-fw.fa-phone
    Позвонить
.col-xs-5.col-sm-4.pull-right
  %button.navbar-toggle.collapsed{type: 'button', data: { toggle: 'collapse', target: '#navbar_nav'}}
    %span.fa.fa-bars.btn.btn-lg.btn-primary
  %nav.collapse.navbar-collapse#navbar_nav
    %ul.nav.navbar-nav
      %li
        - if controller_name == 'catalog' and action_name == 'index'
          %a{ href: '', title: 'Каталог', 'ng-controller' => 'CatalogCtrl', 'ng-click' => 'clear()'}
            Каталог
        - else
          %a{ href: '/catalog', title: 'Каталог'} Каталог
      %li
        %a{ href: '/about/info', title: 'Инфо'} Инфо
      %li
        %a{ href: '/about/contacts', title: 'Контакты'} Контакты
      - unless admin?
        %li{'ng-controller' => 'CartCtrl'}
          %a#cart{ href: '', title: 'Корзина', 'ng-click' => 'open()'}
            Корзина
            %span.badge{'ng-show' => 'positions.length'} {{positions.length}}
      - if admin?
        .btn-group{'ng-app' => 'catalog', 'dropdown' => true}
          %button.btn.btn-primary.navbar-btn{'type' => 'button', 'dropdown-toggle' => true}
            Администратору
            %span.caret
          %ul.dropdown-menu{role: :menu}
            %li{role: :menuitem}
              %a{href: orders_path} Заказы
            %li{role: :menuitem}
              %a{href: new_item_path(format: :html)} Создать товар
            %li.divider
            %li{role: :menuitem}
              %a{href: destroy_admin_session_path, 'data-method' => :delete} Выйти
  -#%span.fa.fa-chevron-down.visible-xs-block#go_down_tip
