.col-xs-4
  %a.brand{ title: 'mercedes177 | Оригинальные запчасти из Европы', href: '/'}
    %span mercedes177
    %br
    %small.tagline Оригинальные запчасти из Европы
.col-xs-2
  %a.tel.text-nowrap{href:'tel:+79647064621'}
    %span.fa.fa-fw.fa-sm.fa-phone
    %span.small 8 964 706 46 21
  %br/
  %a.tel.text-nowrap{href:'tel:+79651340430'}
    %span.fa.fa-fw.fa-sm.fa-phone
    %span.small 8 965 134 04 30
.col-xs-6
  %nav.navbar-nav.pull-right
    %ul.nav.navbar-nav
      %li
        - if controller_name == 'catalog' and action_name == 'index'
          %a{ href: '', title: 'Каталог', 'ng-controller' => 'NavigationCtrl', 'ng-click' => 'clear()'}
            Каталог
        - else
          %a{ href: '/catalog', title: 'Каталог'} Каталог
      %li
        %a{ href: '/about/info', title: 'Инфо'} Инфо
      %li
        %a{ href: '/about/contacts', title: 'Контакты'} Контакты
      - unless admin?
        %li{'ng-controller' => 'CartCtrl'}
          %a#cart{ href: '', title: 'Корзина', 'ng-click' => 'open()'}
            Корзина
            %span.badge{'ng-show' => 'positions.length'} {{positions.length}}
      - if admin?
        .btn-group{'ng-app' => 'catalog', 'dropdown' => true}
          %button.btn.btn-primary.navbar-btn{'type' => 'button', 'dropdown-toggle' => true}
            Администратору
            %span.caret
          %ul.dropdown-menu{role: :menu}
            %li{role: :menuitem}
              %a{href: orders_path} Заказы
            %li{role: :menuitem}
              %a{href: new_item_path(format: :html)} Создать товар
            %li.divider
            %li{role: :menuitem}
              %a{href: destroy_admin_session_path, 'data-method' => :delete} Выйти
