.input-group
  %input.form-control{ 'type' => 'text',
    'ng-model' => 'query',
    'placeholder' => 'Название или номер',
    'ng-focus' => 'getItems()',
    'typeahead-no-results' => 'noResults',
    'typeahead' => 'item.line for item in items | fuzzy: $viewValue',
    'typeahead-on-select' => 'onSelect($item, $model, $label)',
    'typeahead-template-url' => '/templates/catalog/search_result'}
  %span.input-group-btn
    %a.btn{ 'ng-click' => 'showResults()'}
      %span.fa.fa-fw.fa-search
%br/
%span.fa.fa-gear.fa-spin{'ng-show' => 'loading'}
.small{'ng-if' => 'noResults'}
  По этому запросу ничего не найдено.

