- if admin?
  .panel.panel-primary#new_cat_group_panel
    .panel-heading{role: 'tab', id: "heading_new"}
      %h4.panel-title
        %a.list-group-item.collapsed{ role: :button,
          'data-toggle': 'collapse',
          'data-parent': '#catalog_list_accordion',
          href: "#cg_new",
          title: 'Создать группу' }
          %span.fa.fa-plus
          Новая группа
    .panel-collapse.collapse.in{ id: "cg_new", role: 'tabpanel' }
      .panel-body
        = simple_form_for @cg, remote: true, html: { class: 'form-horizontal' }, url: url_for(action: :create, controller: :cat_groups) do |f|
          .row
            .col-xs-10.col-xs-offset-1
              = f.input :name, label: "Название"
              %br/
          .row
            .col-xs-10.col-xs-offset-1
              = f.submit 'Добавить', class: [:btn, :'btn-primary']
