.well
  .row
    .col-xs-10.col-xs-offset-1
      %h1 Заказ №#{@order.id}
  .row
    .col-xs-10.col-xs-offset-1
      %h2 Позиции
      %table.table.table-striped.bg-info
        %tr
          %th Деталь
          %th Номер
          %th Количество
          %th.text-center Положил
        - @order.positions.each do |pos|
          %tr
            %td= pos.item.name
            %td= pos.item.serial
            %td= pos.count
            %td.text-center
              - if rand() > 0.7
                %button.btn.btn-primary{ type: :button }
                  %span.fa.fa-check
              - else
                %span.text-success
                  %span.fa.fa-check

  .row
    .col-xs-10.col-xs-offset-1
      %a.btn.btn-primary.btn-lg{href: order_path(@order, order: { status: 'sent' }), 'data-method' => :put}
        %span.fa.fa-check
        Сменить статус: ОТПРАВЛЕН

