.well{ 'ng-controller' => 'OrdersAdminCtrl'}
  .row
    .col-xs-10.col-xs-offset-1
      %h1 Заказы
  .row
    .col-xs-10.col-xs-offset-1
      %table.table.table-striped.bg-info
        %tr
          %th Номер
          %th Дата
          %th
            .btn-group{ 'dropdown' => true}
              %button.btn.btn-default{ 'dropdown-toggle' => true }
                Статус
                %span.caret
              %ul.dropdown-menu{ 'ng-model' => 'search.status', 'ng-init' => 'search = {status: ""}'}
                %li{role: :menuitem}
                  %a{href: '', 'ng-click' => 'search.status = ""'}
                    Все
                %li{role: :menuitem, 'ng-repeat' => 'st in Statuses'}
                  %a{href: '', 'ng-click' => 'search.status = st'}
                    {{st}}
          %th
        %tr{'ng-repeat' => 'order in orders | filter:search'}
          %td {{order.id}}
          %td {{order.created_at | date : 'dd.M в HH:mm'}}
          %td {{order.status}}
          %td
            %a.btn.btn-primary{'ng-href' => '/orders/{{order.id}}/edit'}
              Подробности

