.well
  .row
    .col-xs-10.col-xs-offset-1
      %h1 Заказы
  .row
    .col-xs-10.col-xs-offset-1
      %table.table.table-striped.bg-info
        %tr
          %th Номер
          %th Дата
          %th Статус
          %th
          %th Сменить статус
        - @orders.each do |order|
          %tr
            %td= order.id
            %td= I18n.l order.created_at, format: '%d %B %Y  %H:%M'
            %td= order.status
            %td
              = link_to 'Позиции', edit_order_path(order), class: %i(btn btn-primary)
            %td
              %button.btn.btn-primary{type: :button, }
                %span.fa.fa-arrow-right
                %span.fa.fa-archive
                %strong "Упаковка"

