.well.col-xs-10.col-xs-offset-1{'ng-controller' => 'OrdersCtrl'}
  %center{'ng-init' => 'clearCart()'}
    %h1 Спасибо за ваш заказ!
    %h2 Номер заказа: #{@order_id}
    
    %p
      С вами свяжутся в ближайшее время.

