.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1 Каталог

.row
  .col-lg-3.col-xs-5.well#catalog_list{'ng-controller' => 'CategoriesCtrl', 'ng-cloak' => true}
    .row
      .col-xs-12.navbar
        %strong.navbar-brand Категории
        %ul.nav.navbar-nav.nav-pills
          %li
            .btn-group{ 'is-open' => false, 'dropdown' => true}
              %button.btn.btn-primary.navbar-btn#catalog_list_filter_toggle{'dropdown-toggle' => true }
                %span.fa.fa-filter
                Фильтр
              %ul.dropdown-menu{ 'aria-labelledby' => 'catalog_list_filter_toggle'}
                %li.text-muted.text-center
                  По наличию
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = ""'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === ''}"}
                    Все
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = "!0"'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === '!0'}"}
                    В наличии
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = 0'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === 0}"}
                    Архив
                %li.divider
                %li.text-muted.text-center
                  Кузов
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.body = null'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body === null}"}
                    Все
                %li{ role: :menuitem, 'ng-repeat' => 'body in bodies'}
                  %a{ href: '', 'ng-click' => 'filters.body = ""'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body === ''}"}
                    {{ body }}
          - if admin?
            %li
              %button.btn.btn-info.navbar-btn{ type: :button, 'ng-click' => 'openNewDialog()'}
                %span.fa.fa-plus

    %accordion#catalog_list_accordion
      %span.fa.fa-gear.fa-spin{ 'ng-if' => '!categories.length' }
      %accordion-group{ 'ng-show' => 'categories.length',
        'ng-repeat' => 'cat in categories',
        'heading' => '{{cat.name}}',
        'template-url' => '/templates/categories/panel',
        'ng-click' => 'updateLocation(cat)',
        'is-open' => 'cat.current' }
        - if admin?
          %button.btn.btn-danger.btn-sm.pull-right{ type: :button,
            'ng-click' => 'delete(cat)',
            'ng-if' => 'cat.item_count == 0' }
            %span.fa.fa-trash-o
        .list-group{ name: 'categories'}
          %a.list-group-item.clearfix{'href' => '',
            'ng-click' => 'setItem(item)',
            'ng-repeat' => 'item in allItems | filter: filters',
            'ng-if' => 'item.category_id == cat.id'}
            = raw '{{ item.name }}'
            %span.pull-right
              = raw '{{item.serial}}'
  .col-lg-9.col-xs-7.container
    .col-xs-12.well#catalog_container{'ng-controller' => 'ItemCtrl'}
      =render template: 'items/show', layout: false

- content_for :title do
  = raw 'Каталог'
- content_for :meta_description do
  = raw 'Найдите интересующую Вас деталь в каталоге.'
