.row
  .col-xs-12.bg-primary
    %ul.nav.nav-justified
      %li
        %a{href: '#'} W212
      %li
        %a{href: '#'} W211
      %li
        %a{href: '#'} W240
      %li
        %a{href: '#'} W180

  -#.row
    -#%center.col-xs-12
      -#.btn-group{'ng-controller' => 'CatalogCtrl'}
        -#%button.btn.btn-primary{type: :button, 'ng-click' => 'clear()'}
          -#%span.fa.fa-fw.fa-lg.fa-home
          -#%br/
          -#%span.small.text-primary Начало
        -#%button.btn.btn-primary{type: :button, 'ng-click' => 'back()', 'ng-enabled' => 'history.length'}
          -#%span.fa.fa-fw.fa-lg.fa-arrow-left{'ng-class' => '{"text-muted": history.length == 0}'}
          -#%br/
          -#%span.small.text-primary Назад
        -#%button.btn.btn-primary.hidden-lg.hidden-md{type: :button, 'ng-click' => 'maximize()'}
          -#%span.fa.fa-fw.fa-lg.fa-bars
          -#%br/
          -#%span.small.text-primary Категории
      

.row
  .col-md-3#catalog_list{'ng-controller' => 'CategoriesCtrl', 'ng-cloak' => true, 'ng-class' => '{in: maximized}'}
    .well
      .row
        .col-xs-10.col-xs-offset-1.text-center
          %h3 Категории
        .col-xs-1
          %button.btn.btn-danger.hidden-lg.hidden-md.pull-right{type: :button, 'ng-click' => 'toggleMaximized()'}
            %span.fa.fa-times
      .row
        .col-xs-10.col-xs-offset-1.navbar
          %ul.nav.navbar-nav.nav-pills
            %li
              .btn-group{ 'is-open' => false, 'dropdown' => true}
                %button.btn.btn-primary.navbar-btn#catalog_list_filter_toggle{'dropdown-toggle' => true }
                  %span.fa.fa-filter
                  Фильтр
                %ul.dropdown-menu{ 'aria-labelledby' => 'catalog_list_filter_toggle'}
                  %li.text-muted.text-center
                    По наличию
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'filters.count = ""'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === ''}"}
                      Все
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'filters.count = "!0"'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === '!0'}"}
                      В наличии
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'filters.count = 0'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === 0}"}
                      Архив
                  %li.divider
                  %li.text-muted.text-center
                    Кузов
                  %li{ role: :menuitem}
                    %a{ href: '', 'ng-click' => 'filters.body = undefined'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body == undefined}"}
                      Все
                  %li{ role: :menuitem, 'ng-repeat' => 'body in bodies'}
                    %a{ href: '', 'ng-click' => 'filters.body = body'}
                      %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body === body}"}
                      {{ body }}
            - if admin?
              %li
                %button.btn.btn-info.navbar-btn{ type: :button, 'ng-click' => 'openNewDialog()'}
                  %span.fa.fa-plus

      %center{'ng-if' => '!ready'}
        %span.fa.fa-lg.fa-gear.fa-spin
      %accordion#catalog_list_accordion{'ng-if' => 'ready'}
        %accordion-group{ 'ng-show' => 'categories.length',
          'ng-repeat' => 'cat in categories',
          'heading' => '{{cat.name}}',
          'template-url' => '/templates/categories/panel',
          'ng-click' => 'updateLocation(cat)',
          'is-open' => 'cat.current' }
          - if admin?
            %button.btn.btn-danger.btn-sm.pull-right{ type: :button,
              'ng-click' => 'delete(cat)',
              'ng-if' => 'cat.item_count == 0' }
              %span.fa.fa-trash-o
          .list-group{ name: 'categories'}
            %a.list-group-item.clearfix{'href' => '',
              'ng-click' => 'setItem(item.id)',
              'ng-repeat' => 'item in allItems | filter: filters',
              'ng-if' => 'item.category_id == cat.id'}
              = raw '{{ item.name }}'
              %span.pull-right
                = raw '{{item.serial}}'
            - if admin?
              %a.list-group-item.clearfix{'href' => '',
                'ng-click' => 'openEditDialog(cat)'}
                %span.text-info
                  %span.fa.fa-edit
                  %strong
                    ПРАВИТЬ КАТЕГОРИЮ
  .col-md-9.col-xs-12
    .well#catalog_container{'ng-controller' => 'ItemCtrl'}
      =render template: 'items/show', layout: false

- content_for :title do
  = raw 'Каталог'
- content_for :meta_description do
  = raw 'Найдите интересующую Вас деталь в каталоге.'
