.row
  .col-lg-3.col-xs-5.well#catalog_list
    .row
      %center.col-xs-8
        %h3 Группы
      - if admin?
        .col-xs-4.pull-right
          %button.btn.btn-info.btn-lg{ type: :button, name: 'add'}
            %span.fa.fa-plus
    .panel-group#catalog_list_accordion
      - @cgs.each do |cg|
        = render partial: 'cat_groups/panel', locals: { cg: cg }

  .col-lg-9.col-xs-7.container
    .col-xs-12.well#catalog_container
