.row.page-heading
  .col-xs-3.col-xs-offset-1{'ng-controller' => 'NavigationCtrl'}
    %br/
    %button.btn.btn-primary{type: :button, 'ng-click' => 'clear()'}
      %span.fa.fa-fw.fa-lg.fa-home
      %br/
      %span.small.text-primary Начало
    %button.btn.btn-primary{type: :button, 'ng-click' => 'back()', 'ng-enabled' => 'history.length'}
      %span.fa.fa-fw.fa-lg.fa-arrow-left{'ng-class' => '{"text-muted": history.length == 0}'}
      %br/
      %span.small.text-primary Назад
      
  .col-xs-4.text-center
    %h1 Каталог

.row
  .col-sm-3.well#catalog_list{'ng-controller' => 'CategoriesCtrl', 'ng-init' => 'maximized = false', 'ng-cloak' => true, 'ng-class' => '{in: maximized}'}
    .row
      .col-xs-12.navbar
        %strong.navbar-brand Категории
        %ul.nav.navbar-nav.nav-pills
          %li
            .btn-group{ 'is-open' => false, 'dropdown' => true}
              %button.btn.btn-primary.navbar-btn#catalog_list_filter_toggle{'dropdown-toggle' => true }
                %span.fa.fa-filter
                Фильтр
              %ul.dropdown-menu{ 'aria-labelledby' => 'catalog_list_filter_toggle'}
                %li.text-muted.text-center
                  По наличию
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = ""'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === ''}"}
                    Все
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = "!0"'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === '!0'}"}
                    В наличии
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.count = 0'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === 0}"}
                    Архив
                %li.divider
                %li.text-muted.text-center
                  Кузов
                %li{ role: :menuitem}
                  %a{ href: '', 'ng-click' => 'filters.body = undefined'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body == undefined}"}
                    Все
                %li{ role: :menuitem, 'ng-repeat' => 'body in bodies'}
                  %a{ href: '', 'ng-click' => 'filters.body = body'}
                    %span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body === body}"}
                    {{ body }}
          - if admin?
            %li
              %button.btn.btn-info.navbar-btn{ type: :button, 'ng-click' => 'openNewDialog()'}
                %span.fa.fa-plus
          %li.pull-right.visible-xs-inline-block
            %button.btn.btn-default{type: :button, 'ng-click' => 'toggleMaximized()'}
              %span.fa.fa-chevron-left{ 'ng-if' => 'maximized'}
              %span.fa.fa-chevron-right{ 'ng-if' => '!maximized'}

    %center{'ng-if' => '!ready'}
      %span.fa.fa-lg.fa-gear.fa-spin
    %accordion#catalog_list_accordion{'ng-if' => 'ready', 'ng-class' => '{"hidden-xs": !maximized}'}
      -#%span.fa.fa-gear.fa-spin{ 'ng-if' => '!categories.length' }
      %accordion-group{ 'ng-show' => 'categories.length',
        'ng-repeat' => 'cat in categories',
        'heading' => '{{cat.name}}',
        'template-url' => '/templates/categories/panel',
        'ng-click' => 'updateLocation(cat)',
        'is-open' => 'cat.current' }
        - if admin?
          %button.btn.btn-danger.btn-sm.pull-right{ type: :button,
            'ng-click' => 'delete(cat)',
            'ng-if' => 'cat.item_count == 0' }
            %span.fa.fa-trash-o
        .list-group{ name: 'categories'}
          - # FIXME:
          %a.list-group-item.clearfix{'href' => '',
            'ng-click' => 'setItem(item.id)',
            'ng-repeat' => 'item in allItems | filter: filters',
            'ng-if' => 'item.category_id == cat.id'}
            = raw '{{ item.name }}'
            %span.pull-right
              = raw '{{item.serial}}'
  .col-sm-9.col-sm-offset-0.col-xs-12.col-xs-offset-0.container
    .col-xs-12.well#catalog_container{'ng-controller' => 'ItemCtrl'}
      =render template: 'items/show', layout: false

- content_for :title do
  = raw 'Каталог'
- content_for :meta_description do
  = raw 'Найдите интересующую Вас деталь в каталоге.'
