.row
  .col-lg-3.col-xs-5.well#catalog_list
    .row
      %center.col-xs-5
        %h3 Группы
      - if admin?
        .col-xs-2.col-xs-offset-1
          %button.btn.btn-info{ type: :button, name: 'add-group'}
            %span.fa.fa-plus
              группу
        .col-xs-2.col-xs-offset-1
          %button.btn.btn-info{ type: :button, name: 'add-category'}
            %span.fa.fa-plus
              катег.
    .panel-group#catalog_list_accordion
      - @cgs.each do |cg|
        = render partial: 'cat_groups/panel', locals: { cg: cg }

  .col-lg-9.col-xs-7.container
    .col-xs-12.well#catalog_container
