.row
  .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2.well
    .row
      %ul.nav.nav-justified
        %li
          %a{href: '#'} W212
        %li
          %a{href: '#'} W211
        %li
          %a{href: '#'} W240
        %li
          %a{href: '#'} W180


%br/
.row.container-fluid{'ng-controller' => 'CatalogCtrl'}
  .row{'ng-controller' => 'CategoriesCtrl', 'ng-cloak' => true}
    .col-md-3#catalog_list
      .well
        .row
          .col-xs-10.col-xs-offset-1.text-center
            %h3 Категории
          .col-xs-1
            %button.btn.btn-danger.hidden-lg.hidden-md.pull-right{type: :button, 'ng-click' => 'toggleMaximized()'}
              %span.fa.fa-times
        - if admin?
          .row
            .col-xs-10.col-xs-offset-1.navbar
              %ul.nav.navbar-nav.nav-pills
                %li
                  %button.btn.btn-info.navbar-btn{ type: :button, 'ng-click' => 'openNewDialog()'}
                    %span.fa.fa-plus
        %center{'ng-if' => '!ready'}
          %span.fa.fa-lg.fa-gear.fa-spin
        %ul.nav.nav-stacked.nav-pills
          %li{ 'ng-show' => 'categories.length',
          'ng-repeat' => 'cat in categories',
          'ng-class' => '{active: cat.current}'}
            %a{'ng-click' => 'changeCategory(cat.id)', href: ''} {{cat.name}}
            - if admin?
              %button.btn.btn-danger.btn-sm.pull-right{ type: :button,
                'ng-click' => 'delete(cat)',
                'ng-if' => 'cat.item_count == 0' }
                %span.fa.fa-trash-o
              %a.list-group-item.clearfix{'href' => '',
                'ng-click' => 'openEditDialog(cat)'}
                %span.text-info
                  %span.fa.fa-edit
                  %strong
                    ПРАВИТЬ КАТЕГОРИЮ


              -#%li
              -#.btn-group{ 'is-open' => false, 'dropdown' => true}
                -#%button.btn.btn-primary.navbar-btn#catalog_list_filter_toggle{'dropdown-toggle' => true }
                  -#%span.fa.fa-filter
                  -#Фильтр
                -#%ul.dropdown-menu{ 'aria-labelledby' => 'catalog_list_filter_toggle'}
                  -#%li.text-muted.text-center
                    -#По наличию
                  -#%li{ role: :menuitem}
                    -#%a{ href: '', 'ng-click' => 'filters.count = ""'}
                      -#%span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === ''}"}
                      -#Все
                  -#%li{ role: :menuitem}
                    -#%a{ href: '', 'ng-click' => 'filters.count = "!0"'}
                      -#%span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === '!0'}"}
                      -#В наличии
                  -#%li{ role: :menuitem}
                    -#%a{ href: '', 'ng-click' => 'filters.count = 0'}
                      -#%span.fa.fa-fw{'ng-class' => "{'fa-check': filters.count === 0}"}
                      -#Архив
                  -#%li.divider
                  -#%li.text-muted.text-center
                    -#Кузов
                  -#%li{ role: :menuitem}
                    -#%a{ href: '', 'ng-click' => 'filters.body = undefined'}
                      -#%span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body == undefined}"}
                      -#Все
                  -#%li{ role: :menuitem, 'ng-repeat' => 'body in bodies'}
                    -#%a{ href: '', 'ng-click' => 'filters.body = body'}
                      -#%span.fa.fa-fw{'ng-class' => "{'fa-check': filters.body === body}"}
                      -#{{ body }}

    .col-md-9.col-xs-12
      .well#catalog_container{ 'ng-show' => 'selectedCategory || selectedItem' }
        .row
        %a.btn.btn-sm{'ng-click' => 'clearItem()', href: '', 'ng-show' => 'selectedItem && selectedCategory'}
          %span.small.text-primary
            %span.fa.fa-sm.fa-chevron-left
            Назад в категорию
            %strong &laquo;{{currentCategory.name}}&raquo;
        %div{ 'ng-show' => 'selectedItem' }
          %div{'ng-controller' => 'ItemCtrl'} 
            =render template: 'items/show', layout: false
        %div{ 'ng-if' => '!selectedItem'}
          %h2 Категория: {{currentCategory.name}}
          %br/
          =render template: 'items/index', layout: false

      .row#catalog_empty{ 'ng-show' => '!(selectedCategory || selectedItem)' }
        .col-xs-12
          %img.img-responsive{src: image_path('bg-lg.jpg')}
        .col-xs-12
          .well
            .row
              %center.col-xs-10.col-xs-offset-1
                %form.form-horizontal{name: 'search', 'ng-controller' => 'SearchCtrl'}
                  .form-group
                    %label Поиск детали
                    = render partial: 'shared/search'
            .row
              .col-xs-12.col-sm-4.text-center
                %h3 Только оригинальные детали
              .col-xs-12.col-sm-4.text-center
                %h3 Отличное состояние
              .col-xs-12.col-sm-4.text-center
                %h3 Тёплый сухой склад


- content_for(:title) do
  = raw 'Авторазбор в Москве'
- content_for(:meta_description) do
  = raw 'Б/У и новые запчасти для автомобилей Mercedes'
