.row
  .col-lg-3.col-xs-5.well#catalog_list{'ng-controller' => 'CategoriesCtrl'}
    .row
      %center.col-xs-5
        %h3 Категории
      - if admin?
        .col-xs-2.col-xs-offset-1
          %br/
          %button.btn.btn-info{ type: :button, 'ng-click' => 'openNewDialog()'}
            %span.fa.fa-plus
    %accordion#catalog_list_accordion
      %accordion-group{ 'ng-repeat' => 'cat in categories',
        'heading' => '{{cat.name}}',
        'template-url' => '/templates/categories/panel',
        'is-open' => 'cat.current' }
        - if admin?
          %button.btn.btn-danger.btn-sm.pull-right{ type: :button,
            'ng-click' => 'delete(cat)',
            'ng-if' => 'cat.item_count == 0' }
            %span.fa.fa-trash-o
        %ul.list-group{ name: 'categories'}
          %li.list-group-item{ 'ng-repeat' => 'item in items', 'ng-if' => 'item.category_id == cat.id'}
            %a.btn{type: :button, 'ng-click' => 'setItem(item)'}
              = raw '{{ item.name }}'
  .col-lg-9.col-xs-7.container
    .col-xs-12.well#catalog_container{'ng-controller' => 'ItemCtrl'}
      =render template: 'items/show', layout: false
