.row
  .col-xs-12.col-sm-5{'ng-show' => '!editing.price'}
    .row
      .col-xs-12.text-center
        %strong.lead {{ item.price }}
        %span.fa.fa-rub
    %br/
    .row
      .col-xs-12.text-center
        %span.text-nowrap.label.label-success{'ng-if' => 'item.count > 0'}
          %strong В наличии
        %span.text-nowrap.label.label-danger{'ng-if' => 'item.count == 0'}
          %strong Нет в наличии
    %br/
    %br/
    %span
  .col-xs-12.col-sm-7{'ng-if' => 'item.count > 0'}
    %a.btn.btn-primary.btn-block{'ng-click' => 'putToCartAndProceed()'}
      %span.fa.fa-money.fa-fw
      %strong Купить
    %br/
    %a.btn.btn-primary.btn-block{'ng-click' => 'putToCart()'}
      %span.fa.fa-shopping-cart.fa-fw
      %strong В корзину
    %br/
    %a.btn.btn-default.btn-block{href: '#'}
      %span.fa.fa-question.fa-fw
      Задать вопрос

%br/
%br/
.row
  %center.col-xs-12.panel
    .row
      .col-xs-12.text-center
        %h3 Описание
    .row{'ng-if' => 'item.body'}
      .col-xs-12
        .lead.strong
          Кузов: {{item.body}}
    %br/
    .row
      .col-xs-12
        {{ item.description }}
    %br/
    .row{'ng-if' => 'item.notice'}
      .col-xs-12.text-warning
        %h5 Примечания:
        {{ item.notice }}
