.row
  .col-xs-12
    .row{'ng-show' => '!editing.price'}
      .col-xs-3
        Цена: 
      .col-xs-7
        %strong.lead {{ item.price }}
        %span.fa.fa-rub
      .col-xs-2
        %button.btn.btn-info.pull-right{ type: :button, 'ng-click' => 'toggleControl("price")', 'ng-show' => '!editing.price'}
          %span.fa.fa-edit
    .row{'ng-show' => 'editing.price'}
      .col-xs-12
        - item_field_for 'price' do
          .form-group.col-xs-8
            .input-group
              .input-group-addon
                %span.fa.fa-rub
              %input.form-control{type: :number, 'ng-model' => 'item.price'}
          - v_submit_tag

    %br/

    .row{'ng-show' => '!editing.count'}
      .col-xs-5
        На складе:
      .col-xs-5
        %span
          {{ item.count }}
        %span шт.
      .col-xs-2
        %button.btn.btn-info.pull-right{ type: :button, 'ng-click' => 'toggleControl("count")', 'ng-show' => '!editing.count'}
          %span.fa.fa-edit
    .row{'ng-show' => 'editing.count'}
      .col-xs-12
        - item_field_for 'count' do
          .form-group.col-xs-8
            .input-group
              .input-group-addon
                шт.
              %input.form-control{type: :number, min: '0', 'ng-model' => 'item.count'}
          - v_submit_tag
%br/
%br/
.row
  .col-xs-12
    .row
      .col-xs-12
        %button.btn.btn-info.pull-right{ type: :button, 'ng-click' => 'toggleControl("body")', 'ng-show' => '!editing.body'}
          %span.fa.fa-edit
        %h4 Кузов
        - item_field_for 'body' do
          .form-group.col-xs-8
            .input-group
              %input.form-control{type: :text, 'ng-model' => 'item.body'}
          - v_submit_tag
        {{ item.body }}
    %br/
    .row
      .col-xs-12{'ng-show' => '!editing.description'}
        .col-xs-2.pull-right
          %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("description")'}
            %span.fa.fa-edit
        .description
          {{ item.description }}

      .col-xs-12{'ng-show' => 'editing.description'}
        - item_form_for 'description' do
          .form-group
            %textarea.form-control{ 'ng-model' => 'item.description'}
          - v_submit_tag

      .col-xs-12.alert.alert-warning{ 'ng-if' => 'item.notice'}
        %h6 Примечания:
        {{ item.notice }}
