.row
  %center.col-xs-12
    .row
      .col-xs-12.text-center
        %h3 Характеристики
    .row
      .col-xs-10.col-xs-offset-1.panel
        %table.table.table-hover
          %tr{'ng-if' => 'item.body'}
            %td Кузов
            %td {{item.body}}
          %tr{ 'ng-repeat' => '(name, val) in item.properties'}
            %td {{name}}
            %td {{val}}
    -#.row
      -#.col-xs-12
        -#.description
          -#{{ item.description }}
.row
  .col-xs-12.col-sm-5{'ng-show' => '!editing.price'}
    .row
      .col-xs-12.text-center
        %strong.lead.text-nowrap
          Цена:&nbsp;
          {{ item.price }}
          %span.fa.fa-rub
    %br/
    .row
      .col-xs-12.text-center.lead
        %span.text-nowrap.label.label-success{'ng-if' => 'item.count > 0'}
          %strong В наличии
        %span.text-nowrap.label.label-danger{'ng-if' => 'item.count == 0'}
          %strong Нет в наличии
    %br/
    %br/
    %span
  .col-xs-12.col-sm-7{'ng-if' => 'item.count > 0'}
    %a.btn.btn-primary.btn-block{'ng-click' => 'putToCartAndProceed()'}
      %span.fa.fa-money.fa-fw
      %strong Купить
    %br/
    %a.btn.btn-primary.btn-block{'ng-click' => 'putToCart()'}
      %span.fa.fa-shopping-cart.fa-fw
      %strong В корзину
    %br/
    %a.btn.btn-default.btn-block{href: '#'}
      %span.fa.fa-question.fa-fw
      Задать вопрос

    .row{'ng-if' => 'item.notice'}
      .col-xs-12.text-warning
        %h3 Примечания
        {{ item.notice }}
