- if admin?
  .col-xs-1.pull-right
    %button.btn.btn-danger.btn-lg{ type: :button, 'ng-click' => 'delete()'}
      %span.fa.fa-trash-o
.col-xs-10.col-xs-offset-1
  .row
    .col-xs-11
      %h1
        %span{ 'ng-show' => '!editing.name'}
          {{item.name}}
          - if admin?
            %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("name")'}
              %span.fa.fa-edit
        - item_field_for 'name' do
          .form-group.col-xs-8
            .input-group
              %input.form-control{type: :text, 'ng-model' => 'item.name'}
          - v_submit_tag
  - if admin?
    .row
      .col-xs-11
        %h2{title: 'Серийный номер'}
          %span{ 'ng-show' => '!editing.serial'}
            SN: {{ item.serial }}
            %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("serial")'}
              %span.fa.fa-edit
          - item_field_for 'serial' do
            .form-group.col-xs-8
              .input-group
                %input.form-control{type: :text, 'ng-model' => 'item.serial'}
            - v_submit_tag
  - else
    .row{'ng-if' => 'item.serial'}
      .col-xs-11
        %h2{title: 'Серийный номер'}
          %span{ 'ng-show' => '!editing.serial'}
            SN: {{ item.serial }}
