%center.col-xs-12
  %h3.center-block
    Чтобы выбрать деталь
  %h4.center-block
    %span.fa.fa-arrow-left
    найдите её в нужной категории
    %br/
    %br/
    или
    %br/
    %br/
    воспользуйтесь поиском:
%center.col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2{'ng-controller' => 'SearchCtrl'}
  = render partial: 'shared/search'
  %br/
  %br/
