.row
  .col-xs-12.col-lg-10.col-lg-offset-1
    .image-container.panel.col-xs-12
      .panel-body
        %img.img-responsive{'ng-src' => "{{item.currentPhoto.preview || '#{image_path('placeholder.svg')}'}}"}
        .col-xs-10.image-overlay
          - if admin?
            %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("photos", "prompt")', 'ng-show' => '!editing.photos'}
              %span.fa.fa-edit
            %button.btn.btn-info{ type: :button, 'ng-click' => 'featurePhoto()', 'ng-show' => '!editing.photos', 'ng-disabled' => 'item.currentPhoto.id == item.featuredPhoto.id'}
              %span.fa.fa-star
            %button.btn.btn-danger{ type: :button, 'ng-click' => 'deletePhoto()', 'ng-show' => '!editing.photos && item.currentPhoto.preview'}
              %span.fa.fa-times

          %button.btn.btn-default{ type: :button, 'ng-click' => 'openPhotoPreview()', 'ng-if' => 'item.photos.length'}
            %span.fa.fa-arrows-alt

.row{ 'ng-if' => 'item.photos.length'}
  .col-xs-12
    .row{'ng-repeat' => 'row in item.photos | chunkBy: 4'}
      .col-xs-3{'ng-repeat' => 'photo in row'}
        %a.thumbnail{'href' => '', 'ng-click' => 'setPhoto(photo)'}
          %img.img-responsive{'ng-src' => '{{photo.thumb}}'}
- if admin?
  .row
    %br/
    %br/
    .panel.panel-info{'ng-if' => 'editing.photos'}
      .panel-heading
        %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'toggleControl("photos")'}
          %span.fa.fa-times
        .panel-title Добавить фотографии
        %hr
      .panel-body
        .row
          .col-xs-10.col-xs-offset-1
            - item_form_for 'photos', multipart: true do
              .form-group{'ng-if' => 'files.length'}
                .row{'ng-repeat' => 'file in files'}
                  %img.col-xs-3{ 'ng-src' => '{{file.data}}' }
                  %pre.col-xs-7
                    {{ file.name }}
                  .pull-right
                  .col-xs-2
                    %button.btn.btn-danger{ 'ng-if' => 'file.progress == 0', type: :button, 'ng-click' => 'removeFile(file.name)'}
                      %span.fa.fa-times
                    %span.fa.fa-spin.fa-gear{ 'ng-if' => 'file.progress < 100 && file.progress > 0'}
                    %span.fa.fa-fw.fa-check{ 'ng-if' => 'file.progress == 100'}
                  %br/
                  %br/
              .form-group{'ng-show' => 'editing.photos == "choose"'}
                %input{type: :file, accept: 'image/*', multiple: true, onchange: 'angular.element(this).scope().uploadPhotos(this.files)'}
              %button.btn.btn-primary{ type: :button, 'ng-click' => 'chooseFile()', 'ng-show' => 'editing.photos == "prompt"'}
                %span.fa.fa-plus
              %br/
              %br/
              .col-xs-offset-10
                %button.btn.btn-primary{ type: :button, 'ng-click' => 'savePhotos()', 'ng-show' => 'files.length'}
                  %span.fa.fa-check

