.row
  .col-xs-12{'ng-if' => 'currentCategory'}
    .row{ 'ng-repeat' => 'row in currentCategory.items | pick: filters.available == "no" ? "count < 1" : "count > 0" | filterBy: ["body"]: filters.body  | chunkBy: 2'}
      .col-xs-12.col-sm-6{ 'ng-repeat' => 'item in row'}
        .panel.col-xs-12.item-card{ 'ng-click' => 'changeItem(item.id)' }
          .panel-body
            .row
              %center.col-xs-6
                %img.img-responsive{ 'ng-if' => 'item.thumb', 'ng-src' => '{{item.thumb}}' }
                %img.img-responsive{ 'ng-if' => '!item.thumb', 'ng-src' => "#{image_path('placeholder.svg')}" }
              .col-xs-6
                %h4 {{item.name}}
                %small{ 'ng-if' => 'item.serial' } №: {{item.serial}}
            %br/
            .row
              %center.col-xs-6
                %p
                  %strong.text-nowrap
                    Цена:&nbsp;
                    {{ item.price }}
                    %span.fa.fa-rub
                %p
                  %span.text-nowrap.label.label-success{'ng-if' => 'item.count > 0'}
                    %strong В наличии
                  %span.text-nowrap.label.label-danger{'ng-if' => 'item.count == 0'}
                    %strong Нет в наличии
              .col-xs-6
                %a.btn.btn-primary.btn-block.btn-sm{'ng-click' => 'putItemToCartAndProceed(item)'}
                  %span.fa.fa-money.fa-fw
                  Купить
                %br/
                %a.btn.btn-primary.btn-block.btn-sm{'ng-click' => 'putItemToCart(item)'}
                  %span.fa.fa-shopping-cart.fa-fw
                  В корзину

