.row{'ng-if' => '!ready'}
  .col-xs-12.text-center
    %span.fa.fa-lg.fa-gear.fa-spin

.row{'ng-if' => 'ready && item'}
  = render partial: 'items/header'
.row{'ng-if' => 'ready && item'}
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
    = render partial: 'items/photos'
.row{'ng-if' => 'ready && item'}
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
    - if admin?
      = render partial: 'items/dashboard_admin'
    - else
      = render partial: 'items/dashboard_user'
