.row{'ng-if' => 'item', 'ng-cloak' => true}
  - if admin?
    .col-xs-1.pull-right
      %button.btn.btn-danger.btn-lg{ type: :button, 'ng-click' => 'delete()'}
        %span.fa.fa-trash-o
  .col-xs-10.col-xs-offset-1
    .row
      .col-xs-11
        %h1
          %span{ 'ng-show' => '!editing.name'}
            {{item.name}}
            - if admin?
              %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("name")'}
                %span.fa.fa-edit
          - item_field_for 'name' do
            .form-group.col-xs-8
              .input-group
                %input.form-control{type: :text, 'ng-model' => 'item.name'}
            - v_submit_tag
    .row
      .col-xs-11
        %h2{title: 'Серийный номер'}
          %span{ 'ng-show' => '!editing.serial'}
            SN: {{ item.serial }}
            - if admin?
              %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("serial")'}
                %span.fa.fa-edit
          - item_field_for 'serial' do
            .form-group.col-xs-8
              .input-group
                %input.form-control{type: :text, 'ng-model' => 'item.serial'}
            - v_submit_tag

.row{'ng-if' => 'item.name'}
  .col-xs-5
    .row
      %center.col-xs-10.col-xs-offset-1.image-container
        %img.img-responsive{'ng-src' => "{{item.currentPhoto.preview || '#{image_path('placeholder.svg')}'}}"}
        .col-xs-6.image-overlay
          - if admin?
            %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("photos", "prompt")', 'ng-show' => '!editing.photos'}
              %span.fa.fa-edit

          %button.btn.btn-primary{ type: :button, 'ng-click' => 'openPhotoPreview()', 'ng-if' => 'item.photos.length'}
            %span.fa.fa-arrows-alt
    .row{ 'ng-if' => 'item.photos.length'}
      .col-xs-12
        %br/
        %br
        %a{'ng-click' => 'setPhoto(photo)', 'ng-repeat' => 'photo in item.photos'}
          %img{'ng-src' => '{{photo.thumb}}', width: '50px'}
    - if admin?
      .row
        %br/
        %br/
        .panel.panel-info{'ng-if' => 'editing.photos'}
          .panel-heading
            %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'toggleControl("photos")'}
              %span.fa.fa-times
            .panel-title Добавить фотографии
            %hr
          .panel-body
            .row
              .col-xs-10.col-xs-offset-1
                - item_form_for 'photos', multipart: true do
                  .form-group{'ng-if' => 'files.length'}
                    .row{'ng-repeat' => 'file in files'}
                      %img.col-xs-3{ 'ng-src' => '{{file.data}}' }
                      .col-xs-7
                        {{ file.name }}
                      .pull-right
                      .col-xs-2
                        %button.btn.btn-danger{ type: :button, 'ng-click' => 'removeFile(file.name)'}
                          %span.fa.fa-times
                      %br/
                      %br/
                  .form-group{'ng-show' => 'editing.photos == "choose"'}
                    %input{type: :file, onchange: 'angular.element(this).scope().uploadPhoto(this.files[0])'}
                  %button.btn.btn-primary{ type: :button, 'ng-click' => 'chooseFile()', 'ng-show' => 'editing.photos == "prompt"'}
                    %span.fa.fa-plus
                  %br/
                  %br/
                  .col-xs-offset-10
                    %button.btn.btn-primary{ type: :button, 'ng-click' => 'savePhotos()', 'ng-show' => 'files.length'}
                      %span.fa.fa-check

  .col-xs-5.col-xs-offset-1
    .row
      .col-xs-5{'ng-show' => '!editing.price'}
        .row
          .col-xs-12
            %strong.lead {{ item.price }}
            %span.fa.fa-rub
        %br/
        .row
          .col-xs-12
            %span.text-nowrap.label.label-success{'ng-if' => 'item.count > 0'}
              %strong В наличии
            %span.text-nowrap.label.label-danger{'ng-if' => 'item.count == 0'}
              %strong Нет в наличии
      - if admin?
        %span
          %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("price")', 'ng-show' => '!editing.price'}
            %span.fa.fa-edit
        .col-xs-8
          - item_field_for 'price' do
            .form-group.col-xs-8
              .input-group
                .input-group-addon
                  %span.fa.fa-rub
                %input.form-control{type: :number, 'ng-model' => 'item.price'}
            - v_submit_tag
        %br/
        %br/
        %span
          %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("count")', 'ng-show' => '!editing.count'}
            %span.fa.fa-edit
        .col-xs-8
          - item_field_for 'count' do
            .form-group.col-xs-8
              .input-group
                .input-group-addon
                  %span.fa.fa-rub
                %input.form-control{type: :number, min: '0', 'ng-model' => 'item.count'}
            - v_submit_tag

      - unless admin?
        .col-xs-7{'ng-if' => 'item.count > 0'}
          .row
            .col-xs-12.text-center
              %a.btn.btn-primary.btn-block{'ng-click' => 'putToCartAndProceed()'}
                %span.fa.fa-money
                %strong Купить
          %br/
          .row
            .col-xs-12.text-center
              %a.btn.btn-primary.btn-block{'ng-click' => 'putToCart()'}
                %span.fa.fa-shopping-cart
                %strong В корзину

    %br/
    %br/
    .row
      .col-xs-12{'ng-show' => '!editing.description'}
        - if admin?
          .col-xs-2.pull-right
            %button.btn.btn-info{ type: :button, 'ng-click' => 'toggleControl("description")'}
              %span.fa.fa-edit
        {{ item.description }}

      - if admin?
        .col-xs-12{'ng-show' => 'editing.description'}
          - item_form_for 'description' do
            .form-group
              %textarea.form-control{ 'ng-model' => 'item.description'}
            - v_submit_tag

      .col-xs-12.alert.alert-warning{ 'ng-if' => 'item.notice'}
        %h6 Примечания:
        {{ item.notice }}


.row{'ng-if' => '!item'}
  %center.col-xs-12
    %h2.center-block
      Пока ничего не выбрано.
    %h3.center-block
      Чтобы выбрать деталь
    %h4.center-block
      %span.fa.fa-arrow-left
      найдите её в нужной категории
      %br/
      %br/
      или
      %br/
      %br/
      воспользуйтесь поиском:
  %center.col-xs-6.col-xs-offset-3{'ng-controller' => 'SearchCtrl'}
    = render partial: 'shared/search'
    %br/
    %br/
