.vcard
  .row.page-heading
    .col-xs-12.col-md-6.col-md-offset-3
      %h1 Контакты
      %h2.fn.org Магазин (авторазбор) Mercedes177.ru
      %h3 Оригинальные автозапчасти Mercedes-Benz

  .row
    .col-xs-12.col-xs-offset-0.col-md-10.col-md-offset-1
      .col-xs-12.col-sm-6
        .row
          %section.col-xs-12.col-sm-10.col-sm-offset-1.material-xs
            .material-heading
              %h2
                %span.fa.fa-xs.fa-lg.fa-phone
                Телефоны
            .col-xs-12
              .row
                .col-xs-3
                  %a.tel.btn.btn-primary.btn-lg{href:'tel:+79647064621'}
                    %span.fa.fa-phone.fa-fw.fa-lg
                .col-xs-8.col-xs-offset-1
                  %span.lead.text-nowrap 8 964 706 46 21
                  %span.text-muted.lead Михаил
              %br/
              .row
                .col-xs-3
                  %a.tel.btn.btn-primary.btn-lg{href:'tel:+79651340430'}
                    %span.fa.fa-phone.fa-fw.fa-lg
                .col-xs-8.col-xs-offset-1
                  %span.lead.text-nowrap 8 965 134 04 30
                  %span.text-muted.lead Ян
        %br/
        %br/
        .row
          %section.col-xs-12.col-sm-10.col-sm-offset-1.material-xs
            .material-heading
              %h2
                %span.fa.fa-xs.fa-lg.fa-skype
                Skype
            .col-xs-12.text-center
              %br/
              %p.lead mercedes177m
        %br/
        %br/
        .row
          %section.col-xs-12.col-sm-10.col-sm-offset-1.material-xs
            .material-heading
              %h2
                %span.fa.fa-fw.fa-envelope.fa-lg
                Электронная почта
            .col-xs-12
              %h3 По общим вопросам
              %p.email.text-nowrap
                %a.btn.btn-primary.btn-lg{href:'mailto:contact@mercedes177.ru'}
                  %span.fa.fa-envelope.fa-fw
                %span.lead contact@mercedes177.ru

              %h3 По вопросам заказов
              %p.email.text-nowrap
                %a.btn.btn-primary.btn-lg{href:'mailto:orders@mercedes177.ru'}
                  %span.fa.fa-fw.fa-envelope
                %span.lead orders@mercedes177.ru

      .col-xs-12.col-sm-6
        .row
          %section.col-xs-12.col-sm-10.col-sm-offset-1.material-xs
            .material-heading
              %h2
                %span.fa.fa-xs.fa-lg.fa-map-marker
                Обратная связь
            .col-xs-12.text-center
              %br/
              %a.btn.btn-primary.btn-lg{href: '/contact'}
                Задать вопрос
        .row
          %section.col-xs-12.col-sm-10.col-sm-offset-1.material-lg
            .material-heading
              %h2
                %span.fa.fa-xs.fa-lg.fa-map-marker
                Адрес
            %address.adr.col-xs-12.text-center
              %span.locality г.Москва,
              %span.street-address.text-nowrap ул. Осташковская, 14.
            .col-xs-9.col-xs-offset-2
              %p.text-muted
                Офис и склад находятся на охраняемой территории.
                О&nbsp;посещении заранее договаривайтесь по&nbsp;телефону.
            %center.col-xs-12
              %map-container.col-xs-12



- content_for :title do
  = raw 'Контакты'
- content_for :meta_description do
  = raw 'Авторазбор в Москве'
