.row
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.well
    %h1.text-center О нас

    %section.col-xs-10.col-xs-offset-1
      %h2
        %span.fa-lg.fa-stack.fa-fw
          %span.fa.fa-square.fa-stack-2x.text-primary
          %span.fa.fa-star.fa-stack-1x
        Особенности
    
    %section.col-xs-10.col-xs-offset-1
      %h2
        %span.fa-lg.fa-stack.fa-fw
          %span.fa.fa-square.fa-stack-2x.text-primary
          %span.fa.fa-truck.fa-stack-1x
        Доставка

    %section.col-xs-10.col-xs-offset-1
      %h2
        %span.fa-lg.fa-stack.fa-fw
          %span.fa.fa-square.fa-stack-2x.text-primary
          %span.fa.fa-money.fa-stack-1x
        Оплата

    %section.col-xs-10.col-xs-offset-1
      %h2
        %span.fa-lg.fa-stack.fa-fw
          %span.fa.fa-square.fa-stack-2x.text-primary
          %span.fa.fa-thumbs-up.fa-stack-1x
        Гарантии

- content_for(:title) do
  = raw 'О нас'
- content_for(:meta_description) do
  = raw 'Почему именно mercedes177: особенности, гарантии и другая информация.'
