.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1.text-center О нас

.row
  .col-xs-12.col-md-6
    .row
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-star
            Особенности
        %p.lead
          Оригинальные детали
        %p.lead
          Из Европы
        %p.lead
          Тёплый и сухой склад в Москве
    .row.hidden-xs.hidden-sm
      %br/
      %br/
      %br/
    .row
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-thumbs-up
            Гарантии
      
  .col-xs-12.col-md-6
    .row
      %section.col-xs-10.col-xs-offset-1.material-lg
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-money
            Оплата и получение
        %h3 Самовывоз
        %p
          Склад находится по адресу: г. Москва, ул. Осташковская, 14.
          Вход на территорию охраняется&nbsp;―&nbsp;заранее
          договаривайтесь о посещении. Также см. 
          = succeed '.' do
            %a{href: about_contacts_path} контакты
        %h3 Доставка
        %h4 По Москве
        %p Платная. В пределах МКАД.

        %h4 По России
        %p
          Заказ отправляется после
          = succeed '.' do
            %strong полной&nbsp;предоплаты
          Доставка осуществляется транспортной компанией(ТК) Вашего
          выбора. Доставка по Москве до офиса ТК платная. Услуги ТК
          оплачиваются заказчиком.

- content_for(:title) do
  = raw 'О нас'
- content_for(:meta_description) do
  = raw 'Почему именно mercedes177: особенности, гарантии и другая информация.'
