.row.page-heading
  .col-xs-10.col-xs-offset-1
    %h1.text-center О нас

.row
  .col-xs-12.col-xs-offset-0.col-md-10.col-md-offset-1
    .col-xs-6
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-star
            Особенности
        %p.lead
          Оригинальные детали
        %p.lead
          Из Европы
        %p.lead
          Тёплый и сухой склад в Москве
      
    .col-xs-6
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-money
            Оплата
        %p
          Возможны следующие варианты оплаты:
          %ul
            %li Наличными при самовывозе.
            %li Безналичный рассчет при заказе почтой или транспортной кампанией.
            %li
              %small.text-muted Скоро будет доступен безналичный рассчет для заказов с самовывозом и курьером.

.row
  .col-xs-10.col-xs-offset-1
    .col-xs-6
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-thumbs-up
            Гарантии

    .col-xs-6
      %section.col-xs-10.col-xs-offset-1.material-sm
        .material-heading
          %h2
            %span.fa.fa-lg.fa-fw.fa-truck
            Доставка
        %h4 Транспортной компанией
        %h4 Почтой
        %h4 Самовывоз
        %a.text-info{href: about_contacts_path}
          Посмотреть адрес

        Детали и подробности уточняются с менеджером по телефону.

- content_for(:title) do
  = raw 'О нас'
- content_for(:meta_description) do
  = raw 'Почему именно mercedes177: особенности, гарантии и другая информация.'
