- content_for(:title) do
  = raw 'Авторазбор в Москве'
- content_for(:meta_description) do
  = raw 'Б/У и новые запчасти для автомобилей Mercedes'

.row
  .col-xs-12.landing-hero
    %br/
    %br/
    %br/
    %br/
    %br/
    .col-xs-6.col-xs-offset-3.text-center
      %h1 Оригинальные автозапчасти Mercedes-Benz из Европы
      %h2 Авторазбор
.row
  .col-xs-12.landing-section-short
    .text-info.text-center.lead
      Сайт находится в разработке.
    .text-info.text-center.lead
      Каталог пока недоступен.
.row
  .col-xs-12.landing-section-short
    .col-xs-4.text-center
      %h2 Только оригинальные детали
    .col-xs-4.text-center
      %h2 Отличное состояние
    .col-xs-4.text-center
      %h2 Тёплый сухой склад
