- content_for(:title) do
  = raw 'Авторазбор в Москве'
- content_for(:meta_description) do
  = raw 'Б/У и новые запчасти для автомобилей Mercedes'

.row
  .col-xs-12.landing-hero
    %br/
    %br/
    %br/
    %br/
    %br/
    .col-xs-6.col-xs-offset-3.text-center
      %h1 Оригинальные автозапчасти Mercedes-Benz из Европы
      %h2 Авторазбор
.row
  .col-xs-12.landing-section-short
    .col-xs-6.text-center
      %a.btn.btn-lg.btn-primary.cta{href: '/catalog', title: 'Каталог', 'data-no-turbolink' => true} Каталог
    .col-xs-5.text-center
      %form.form-horizontal{name: 'search', 'ng-controller' => 'SearchCtrl'}
        .form-group
          %label Поиск детали
          %input.form-control{ 'type' => 'text',
          'ng-model' => 'query',
          'placeholder' => 'Начните вводить название детали или серийный номер',
          'ng-focus' => 'getItems()',
          'typeahead' => 'item.name + " [с.н.:" + item.serial + "]" for item in items | filter:{$: $viewValue}',
          'typeahead-template-url' => '/templates/catalog/search_result'}
.row
  .col-xs-12.landing-section-short
    .col-xs-4.text-center
      %h2 Только оригинальные детали
    .col-xs-4.text-center
      %h2 Отличное состояние
    .col-xs-4.text-center
      %h2 Тёплый сухой склад
