- content_for(:title) do
  = raw 'Авторазбор в Москве'
- content_for(:meta_description) do
  = raw 'Б/У и новые запчасти для автомобилей Mercedes'

.row
  .col-xs-12.landing-hero
    .col-xs-12.col-xs-offset-0.col-md-6.col-md-offset-3.text-center
      %h1 Оригинальные автозапчасти Mercedes-Benz из Европы
      %h2 Авторазбор
.row
  .col-xs-12.landing-section-xs
    %br.visible-xs-12
    %br.visible-xs-12
    .col-xs-12.col-sm-5.text-center
      %a.btn.btn-lg.btn-primary.cta{href: '/catalog', title: 'Каталог', 'data-no-turbolink' => true} Каталог
    .col-xs-12.col-sm-6.text-center
      %form.form-horizontal{name: 'search', 'ng-controller' => 'SearchCtrl'}
        .form-group
          %label Поиск детали
          = render partial: 'shared/search'
.row
  .col-xs-12.landing-section-xs
    .col-xs-12.col-sm-4.text-center
      %h2 Только оригинальные детали
    .col-xs-12.col-sm-4.text-center
      %h2 Отличное состояние
    .col-xs-12.col-sm-4.text-center
      %h2 Тёплый сухой склад
