.row
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.well
    %h1 Договор публичной оферты
    %p.clearfix
      %span г. Москва
      %span.pull-right 1 декабря 2015 г.

    %p
      Настоящий документ «Оферта Интернет-магазина Mercedes177» представляет собой официальное
      предложение
      = succeed ', ' do
        %strong ООО «Mercedes177»
      именуемого в дальнейшем «Продавец», заключить договор розничной купли-продажи
      товара дистанционным способом на изложенных ниже условиях.

      %h2 1.  Термины и определения оферты Интернет-магазина

      %p
        1.1.  Публичная оферта / Оферта – текст настоящего документа со всеми приложениями,
        изменениями и дополнениями к нему, размещенный на Сайте и доступный в сети Интернет
        по адресу: (www.)mercedes177.ru.
      %p.bg-warning
        Оферта Интернет-магазина – это предложение заключить договор, а не сам договор.
        Грубо говоря, это матрица, с использованием которой «штампуются» договоры.
        Важно понимать такие отличия, т.к. предложение не содержит никаких обязательств,
        кроме обязанности заключить договор на определенных условиях в будущем,
        носит односторонний характер, а потому может быть изменено и отозвано в упрощенном порядке.
      %p
        1.2.  Договор – договор розничной купли-продажи Товаров,
        вместе со всеми относящимися к нему Обязательными документами,
        который заключается и исполняется Сторонами в порядке, предусмотренном настоящей Офертой.
      %p
        1.3.  Товар – товар, представленный к продаже на Сайте.

      %h2 2.  Предмет Договора по Оферте Интернет-магазина
      %p
        2.1.  Продавец обязуется передать Покупателю Товар, предназначенный для личного,
        семейного, домашнего или иного использования, не связанного с предпринимательской
        деятельностью, на основании размещенных Заказов, а Покупатель обязуется принять и оплатить
        Товар на условиях настоящей Оферты.
      %p.bg-warning
        Необходимо учитывать, что данное условие касается заключения договора розничной
        купли-продажи. Поэтому к договору будут применяться положения Закона «О защите прав потребителя»
        и Правил продажи товаров дистанционным способом.
      %p
        2.2.  Наименование, цена, количество Товара, а также прочие необходимые условия
        Договора определяются на основании сведений, предоставленных Покупателем
        при оформлении Заказа. 
      %p.bg-warning
        По условиям оферты Интернет-магазина заказ может приниматься различными способами:
        через форму на сайте, по электронной почте, по телефону и даже факсу Интернет-магазина.
        Важно определить каким образом фиксируются момент размещения и условия заказа,
        поскольку это прямо влияет на содержание заключаемого договора. 
      %p
        2.3.  Обязательным условием заключения Договора является безоговорочное
        принятие и соблюдение Покупателем, применяемых к отношениям Сторон
        по Договору требований и положений, определенных следующими документами («Обязательные документы»):
      %p
        2.3.1.  Политика конфиденциальности, размещенная и/или доступная в сети Интернет по адресу http://mercedes177/about/policy
        указать точный адрес, и содержащая правила предоставления и использования персональной информации Покупателя.
      %p.bg-warning
        Действующее законодательство возлагает на Интернет-магазин обязанность опубликовать или
        иным образом обеспечить неограниченный доступ к документу, определяющему его политику
        в отношении обработки персональных данных и содержащему сведения о реализуемых требованиях
        к защите персональных данных (ч. 2 ст. 18.1 ФЗ «О персональных данных»).
      %p
        2.4.  Указанные в п.2.3. настоящей Оферты обязательные для Сторон документы составляют
        неотъемлемую часть заключаемого в соответствии с Офертой Договора.

      %h2 3.  Оформление Заказа
      %p.bg-warning
        В разделе описывается порядок и способы оформления заказа покупателем, его подтверждения продавцом.

      %h2 4.  Акцепт Оферты и заключение Договора
      %p.bg-warning
        Это раздел оферты, имеющий решающее значение для заключения договора. От предусмотренного офертой
        способа ее акцепта (принятия условий оферты) напрямую зависит можно ли считать договор купли-продажи
        товара заключенным и подлежащим обязательному исполнению.
        Как правило, акцепт оферты связывают с моментом оплаты товара. Но при оплате наложенным платежом
        необходимо возникает необходимость заключения договора ранее доставки товара покупателю.
        В связи с этим к акцепту можно приравнять факт размещения заказа на основании оферты.
        Здесь важно правильно зафиксировать условия размещенного заказа.

      %h2 5.  Права и обязанности Сторон
      %p.bg-warning
        Здесь излагаются не только стандартные права и обязанности сторон по законодательству о защите прав потребителя.
        Необходимо также уточнить возможные исключения из правил, в том числе отказ на заключение договоров с покупателями,
        которые злоупотребляют своими правами (например, часто возвращают товар) и т.д.

      %h2 6.  Цена Товара и порядок оплаты
      %p.bg-warning
        В разделе указывается порядок определения стоимости заказа в зависимости от момента размещения заказа,
        товара, его количества и условий доставки. 

      %h2 7.  Доставка
      %p.bg-warning
        Здесь устанавливаются условия о способе доставки товара, расчета стоимости и сроках доставки
        в зависимости от выбранного способа. Последствия нарушения сроков доставки или неполучения покупателем заказанного товара.

      %h2 8.  Возврат Товара
      %p.bg-warning
        В разделе указываются права, способы, основания последствия отказа покупателя от заказанного товара. 

      %h2 9.  Интеллектуальная собственность
      %p.bg-warning
        Данный раздел необходим в случае реализации товаров, которые содержат охраняемые результаты интеллектуальной деятельности или средства индивидуализации.

      %h2 10. Соглашение об аналоге собственноручной подписи
      %p.bg-warning
        Для обеспечения юридического значения электронной переписки и обмена информацией с использованием программных средств сайта,
        в том числе при размещении и исполнении заказа, разрешении последующих претензий законодательство разрешает использовать
        простые электронные подписи.  Указанные правила должны быть прямо отражены в оферте с указанием средств идентификации пользователя
        (например, логин-пароль или email), юридической силы документов, подписанной электронной подписью, обеспечению конфиденциальности
        сведений о средствах идентификации ряд иных требований, установленных действующим законодательством.

      %h2 11. Ответственность сторон

      %h2 12. Обстоятельства непреодолимой силы (форс-мажор)

      %h2 13. Срок действия и изменение Оферты

      %h2 14. Срок действия, изменение и расторжение Договора

      %h2 15. Условия конфиденциальности

      %h2 16. Заключительные положения

      %h2 17. Реквизиты Продавца

      %p Полное наименование: 
      %p ОГРН: 
      %p Адрес:
      %p Телефон: 
      %p Адрес электронной почты: 

    %br/

    %p
      %span.pull-right Обновлено 1 декабря 2015 г.


- content_for(:title) do
  = raw 'Договор публичной оферты'
