.row
  .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.well
    %h1 Договор публичной оферты
    %p.clearfix
      %span г. Москва
      %span.pull-right 1 декабря 2015 г.

    %p
      Настоящий документ «Оферта Интернет-магазина Mercedes177» представляет собой официальное
      предложение
      = succeed ', ' do
        %strong ООО «Mercedes177»
      именуемого в дальнейшем «Продавец», заключить договор розничной купли-продажи
      товара дистанционным способом на изложенных ниже условиях.

      %h2 1.  Термины и определения оферты Интернет-магазина

      %p
        1.1.  Публичная оферта / Оферта – текст настоящего документа со всеми приложениями,
        изменениями и дополнениями к нему, размещенный на Сайте и доступный в сети Интернет
        по адресу: (www.)mercedes177.ru.
      %p
        1.2.  Договор – договор розничной купли-продажи Товаров,
        вместе со всеми относящимися к нему Обязательными документами,
        который заключается и исполняется Сторонами в порядке, предусмотренном настоящей Офертой.
      %p
        1.3.  Товар – товар, представленный к продаже на Сайте.

      %h2 2.  Предмет Договора по Оферте Интернет-магазина
      %p
        2.1.  Продавец обязуется передать Покупателю Товар, предназначенный для личного,
        семейного, домашнего или иного использования, не связанного с предпринимательской
        деятельностью, на основании размещенных Заказов, а Покупатель обязуется принять и оплатить
        Товар на условиях настоящей Оферты.
      %p
        2.2.  Наименование, цена, количество Товара, а также прочие необходимые условия
        Договора определяются на основании сведений, предоставленных Покупателем
        при оформлении Заказа. 
      %p
        2.3.  Обязательным условием заключения Договора является безоговорочное
        принятие и соблюдение Покупателем, применяемых к отношениям Сторон
        по Договору требований и положений, определенных следующими документами («Обязательные документы»):
      %p
        2.3.1.  Политика конфиденциальности, размещенная и/или доступная в сети Интернет по адресу http://mercedes177/about/policy
        указать точный адрес, и содержащая правила предоставления и использования персональной информации Покупателя.
      %p
        2.4.  Указанные в п.2.3. настоящей Оферты обязательные для Сторон документы составляют
        неотъемлемую часть заключаемого в соответствии с Офертой Договора.

      %h2 3.  Оформление Заказа

      %h2 4.  Акцепт Оферты и заключение Договора

      %h2 5.  Права и обязанности Сторон
      %h2 6.  Цена Товара и порядок оплаты
      %h2 7.  Доставка
      %h2 8.  Возврат Товара
      %h2 9.  Интеллектуальная собственность
      %h2 10. Соглашение об аналоге собственноручной подписи
      %h2 11. Ответственность сторон

      %h2 12. Обстоятельства непреодолимой силы (форс-мажор)

      %h2 13. Срок действия и изменение Оферты

      %h2 14. Срок действия, изменение и расторжение Договора

      %h2 15. Условия конфиденциальности

      %h2 16. Заключительные положения

      %h2 17. Реквизиты Продавца

      %p Полное наименование: 
      %p ОГРН: 
      %p Адрес:
      %p Телефон: 
      %p Адрес электронной почты: 

    %br/

    %p
      %span.pull-right Обновлено 1 декабря 2015 г.


- content_for(:title) do
  = raw 'Договор публичной оферты'
