.new-font-face(@name; @file; @style: normal; @weight: normal){
  @font-face{
    font-family: @name;
    src: font-url(@file) format('truetype');
    font-style: @style;
    font-weight: @weight;
  }
}

.new-font-face('Roboto Black', 'Roboto-Black.ttf');
.new-font-face('Roboto Black', 'Roboto-BlackItalic.ttf', italic);
.new-font-face('Roboto', 'Roboto-Bold.ttf', normal, bold);
.new-font-face('Roboto', 'Roboto-BoldItalic.ttf', italic, bold);
.new-font-face('Roboto', 'Roboto-Regular.ttf');
.new-font-face('Roboto', 'Roboto-LightItalic.ttf', italic);
.new-font-face('Roboto Light', 'Roboto-Light.ttf');
.new-font-face('Roboto Condensed', 'RobotoCondensed-Regular.ttf');
.new-font-face('Roboto Medium', 'Roboto-Medium.ttf');

@font-family-sans-serif: Roboto Light;
h1,h2,h3,h4,h5,h6 { font-family: Roboto; }
