@font-face{
  font-family: 'Tinos';
  src: font-url('Tinos-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face{
  font-family: 'Tinos';
  src: font-url('Tinos-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'Tinos';
  src: font-url('Tinos-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face{
  font-family: 'Tinos';
  src: font-url('Tinos-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}
@font-face{
  font-family: 'Jura';
  src: font-url('Jura-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'Jura';
  src: font-url('Jura-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: oblique;
}
@font-face{
  font-family: 'Jura';
  src: font-url('Jura-DemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
